.welcome {
  @include main();
}

.title,
.instructions {
  margin: 10px;
  text-align: center;
}

.title {
  font-family: 'Mario';
  font-size: 2.7rem;
  color: $white;
  text-shadow: $outlinethick;
}

.instructions {
  background: $lightbg;
  padding: 10px;
  margin: 25px auto 30px;
  border-radius: 5px;
  color: $bg;
  font-family: 'Viga', sans-serif;
  font-size: 1.3rem;
  box-shadow: 0 0 35px 1px $bg;
}

.start-btn {
  @include btn();
}

@media screen and (max-width: 400px) {
  .welcome {
    width: 70%;
  }
}