@font-face {
  font-family: 'Mario';
  src: url('./assets/SuperMario256.ttf') format('truetype');
}

.App {
  width: 100%;
  height: 96vh;
  background: url('./assets/bg.jpg');
  background-size: cover;
  padding-top: 30px;
  background-color: rgba(200, 200, 200, 0.35);
  background-blend-mode: lighten;
}

.home {
  @include btn();
  position: absolute;
  top: 15px;
  right: 25px;
  width: 60px;
  height: 60px;

  i {
    color: $white;
  }
}

@media screen and (max-width: 600px) {
  .App {
    height: 130vh;
  }
}

@media screen and (max-width: 360px) {
  .App {
    height: 160vh;
  }
}