@import './variables';
@import './containers/App/App';
@import './components/Welcome/Welcome';
@import './containers/SelectPlayers/SelectPlayers';
@import './components/Loading/Loading';
@import './containers/GameBoard/GameBoard';
@import './containers/Selection/Selection';
@import './components/PlayerScore/PlayerScore';
@import './containers/Round/Round';
@import './containers/NewGame/NewGame';

body {
  margin: 0;
}

a {
  text-decoration: none;
}