.selection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  animation: fade .5s ease forwards;
  background: $bg;

  button {
    @include btn();
    height: 50px;
    width: 50px;
  }
}

.gifs-container {
  display: grid;
  width: 80%;
  overflow: hidden;
  margin: 0 26px 0 8px;
}

.gif {
  box-sizing: border-box;
  grid-row: 1;
  width: 250px;
  height: 200px;
  margin: 20px;
  transition: .3s ease;
  border: 5px solid $red;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 5px solid #ffdf30;
  }
}

.judge-choice {
  margin: 0 30px;
  max-width: 700px;
  grid-gap: 0px 30px;
}

.judge-choice .gif {
  margin: 20px auto;
}

.fa-arrow-left,
.fa-arrow-right {
  padding-top: 7px;
}

.start-turn {
  @include btn();
  margin-top: 80px;
  width: 250px;
  animation: fade .5s ease forwards;
}

@media screen and (max-width: 600px) {
  .gif {
    margin: 20px 10px 20px 30px;
  }
}

@media screen and (max-width: 400px) {
  .gif {
    margin: 20px 75px 20px 40px;
    width: 180px;
    height: 150px;
  }

  .judge-choice {
    margin: 0 50px;
    max-width: unset;
    grid-gap: 0px 110px;
  }
}